.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
pnpm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# Editor directories and files
.project
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Local Netlify folder
.netlify
